<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TechDays.Backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TechDays.Backend.Properties.Settings>
            <setting name="UriIndex" serializeAs="String">
                <value>c:\temp\index.xml</value>
            </setting>
            <setting name="UriResults" serializeAs="String">
                <value>http://www.interieur.gouv.fr/avotreservice/elections/telechargements/PR2007/T2Valide/{0}/{1}/{2}.xml</value>
            </setting>
        </TechDays.Backend.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
